[package]
name = "incorrect-pda-validation-anchor-secure"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]

[features]
idl-build = ["anchor-lang/idl-build"]

[dependencies]
anchor-lang = "0.32.1"

[profile.release]
overflow-checks = true
